.asgW-07.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../assets/background.png") no-repeat center/cover;
}

.asgW-07 .overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(8px);
}

.asgW-07 .base {
  width: 350px;
  height: 500px;
  background: url("../assets/background2.jpg") no-repeat center/cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.822), 0 6px 20px 0 rgba(0, 0, 0, 0.822);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.asgW-07 .item {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url("../assets/leaf3.png") no-repeat center/cover;
}

.asgW-07 .player {
  position: absolute;
  width: 80px;
  height: 10px;
  background-color: rgba(105, 157, 92, 0.819);
  background: url("../assets/pot2.png") no-repeat center/cover;
  transform: translateX(-50%);
  top: 250px;
}

.asgW-07 .score {
  position: absolute;
  font-size: 24px;
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  top: 470px;
  left: 110px;
  z-index: 1;
}

.asgW-07 .button {
  width: 120px;
  height: 45px;
  background-color: #708e1f;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-size: 18px;
}

