.main.asgW-03 {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 03px;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #2c3e50, #4ca1af);
  color: white;
}

.asgW-03 h2 {
  margin-bottom: 20px;
}

.asgW-03 .section {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(4px);
  padding: 35px;
  margin-top: 25px;
  width: 450px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asgW-03 .section textarea {
  width: 100%;
  height: 60px;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  resize: none;
  background: #fff;
  color: #000;
}

.asgW-03 .section button {
  padding: 12px 20px;
  width: 160px;
  border-radius: 10px;
  background: #0c4765;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #ffffff;
}

.asgW-03 .section button:hover {
  background: #1f698f;
  transform: scale(1.03);
}

.asgW-03 .btn {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.asgW-03 .text-box {
  margin-top: 10px;
  background: #fff;
  color: #000;
  padding: 15px;
  min-height: 60px;
  width: 100%;
  border-radius: 10px;
  text-align: left;
  overflow-y: auto;
}

.asgW-03 .image{
    width: 100px;
    height: 100px;
    padding: 20px;
}

.asgW-03 .error-msg {
    color: #bd0f0f;
    margin-top: 5px; 
}

