.game.asgW-08 {
  height: 100vh;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.asgW-08 .game-section {
  width: 350px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  background: #000;
}

.asgW-08 .road {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../assets/highway-rush-road.png");
  background-repeat: repeat-y;
  background-size: cover;
}

.asgW-08 .vehicle {
  position: absolute;
  background-image: url("../assets/highway-rush-cars.png");
  background-repeat: no-repeat;
}

.asgW-08 .score {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: #000;
  color: #fff;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
}