.main.asgW-02 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
}

.asgW-02 h2 {
  margin-bottom: 20px;
}

.asgW-02 .notification-btn {
  background-color: #49a6d5;
  color: #111;
  font-weight: bold;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.asgW-02 .notification-btn:hover {
  transform: scale(1.03);
  background-color: #61bfe9;
}

.asgW-02 .notification-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #ffffff2a;
  padding: 60px;
  border-radius: 15px;
}

.asgW-02 .notification-form input,
.notification-form button {
  padding: 15px;
  border-radius: 8px;
  background-color: #ffffff;
  width: 250px;
  border: none;
  outline: none;
}

.asgW-02 .upload{
    display: grid;
    align-items: center;
    gap: 5px;
}

.asgW-02 .notification-form input[type="file"] {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 8px;
  width: 250px;
  color: white;
}

.asgW-02 .notification-form button {
  background-color: #49a6d5;
  color: #111;
  font-weight: bold;
  cursor: pointer;
}

.asgW-02 .notification-form button:disabled {
  background-color: #555;
  cursor: not-allowed;
}

.asgW-02 .error{
    color: rgb(227, 5, 5);
    background-color: #ffffff48;
    border-radius: 10px;
    padding: 8px;
}
