.main.asgW-04 {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 0px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2c3e50, #4ca1af);
    color: white;
}

.asgW-04 textarea {
    width: 50%;
    height: 250px;
    padding: 12px;
    font-size: 16px;
    resize: none;
    background-color: rgba(255, 255, 255, 0.549);
    margin-bottom: 20px;
    border-radius: 20px;
}

.asgW-04 .buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.asgW-04 button {
    padding: 12px 20px;
    width: 120px;
    border-radius: 10px;
    background: #04325b;
    border: none;
    font-weight: bold;
    cursor: pointer;
    color: #ffffff;
}

.asgW-04 button:hover {
    background: #1f6397;
    color: black;
}