.main.asg-15 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background: linear-gradient(90deg, #122c44, #5a7d91);
  color: white;
  padding: 20px;
}

.asg-15 .login {
  display: grid;
  align-items: center;
  justify-items: center;
  border: 2px solid #284B6C;
  border-radius: 5px;
  padding: 40px;
  margin-top: 20px;
}

.asg-15 .response {
  background: rgba(255, 255, 255, 0.85);
  padding: 40px;
  border-radius: 12px;
  color: #1a1a1a;
  width: 400px;
  text-align: center;
}

.asg-15 .profile h2 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #0E2148;
  border-bottom: 2px solid #284B6C;
  display: inline-block;
  padding-bottom: 5px;
}

.asg-15 .pDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.asg-15 .profile-info{
  background: rgba(23, 143, 162, 0.247);
  padding: 0px 50px;
  border-radius: 20px;
}


.asg-15 .pPic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000000;
}

.asg-15 .pName {
  font-size: 24px;
  font-weight: bold;
  color: #122c44;
}

.asg-15 .pBio {
  font-size: 15px;
  color: #122c44;
  font-style: italic;
  /* line-height: 1.4; */
  max-width: 280px;
}

.asg-15 .upload-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 1px dashed #107ab8ff;
  padding: 5px;
  border-radius: 10px;
}

.asg-15 .upload {
  padding: 2px;
  cursor: pointer;
  color: #0E2148;
  width: 190px;

}



.asg-15 form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}