.main.asg-38 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    color: white;
}

.asg-38 h2 {
    margin-bottom: 20px;
}

.asg-38 .puzzle {
    background-color: #dddddd17;
    padding: 70px 70px;
    border-radius: 40px;
}

.asg-38 .bottles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.asg-38 .bottle {
    width: 55px;
    height: 200px;
    border: 2px solid #eaeeef7f;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: none;
    flex-direction: column-reverse;
    overflow: hidden;
    cursor: pointer;
}

.asg-38 .water {
    height: 25%;
}

.asg-38 .red { background: #e74c3c; }
.asg-38 .blue { background: #3498db; }
.asg-38 .green { background: #2ecc71; }
.asg-38 .brown { background: #6c370f; }
.asg-38 .purple { background: #9b59b6; }
.asg-38 .orange { background: #f67d14; }
