main .asg-34 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.asg-34 .clock {
    display: flex;
    gap: 10px;
    align-items: center;
}

.asg-34 .clock-column {
    position: relative;
    width: 80px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #ffffff;
    background-color: #a7b3b86a;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.asg-34 .column-item {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    color: white;
    transition: transform 0.4s, opacity 0.3s;
}

.colon {
    font-size: 60px;
    color: white;
}