.main.asg-38 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg, #2b5876, #4e4376);
    font-family: Arial, sans-serif;
    color: white;
}

.asg-38 h2 {
    margin-bottom: 20px;
}

.asg-38 .puzzle {
    background-color: #dddddd17;
    padding: 40px 40px;
    border-radius: 40px;
}

.asg-38 .bottles {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.asg-38 .bottle {
    width: 60px;
    height: 200px;
    border: 2px solid #282929c2;
    display: flex;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top: none;
    flex-direction: column-reverse;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.asg-38 .bottle.selected {
  transform: translateY(-25px) translateX(-5px) rotateZ(10deg);
  box-shadow: rgba(240, 243, 244, 0.734) 0px 15px 40px -12px;

}

.asg-38 .water {
    height: 25%;
}

.asg-38 .red { background: #cc383f; }
.asg-38 .blue { background: #3383d6; }
.asg-38 .green { background: #0da965; }
.asg-38 .brown { background: #80363d; }
.asg-38 .purple { background: #8036d6; }
.asg-38 .orange { background: #cc833e; }


.asg-38 .congrats-popup {
    border-radius: 20px;
    text-align: center;
    color: #fff;
}

.asg-38 .congrats-popup button {
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background-color: #3383d6;
    color: white;
    cursor: pointer;
}

.asg-38 .congrats-popup button:hover {
    background-color: #1f5aa6;
}
