.main.asg-18 {
  min-height: 100vh;
  background: linear-gradient(90deg, #122c44, #5a7d91);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.asg-18 .game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.asg-18 .game h2{
  color: rgba(242, 242, 245, 0.64);
} 

.asg-18 .game-over{
  width: 100px;
  height: 100px;
}

.asg-18 .color {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.asg-18 .color-input {
  background: rgba(255, 255, 255, 0.162);
  color: #122c44;
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.asg-18 .mixed-color {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}

.asg-18 .red {
  background-color: red;
}

.asg-18 .blue {
  background-color: blue;
}

.asg-18 .color-select {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.asg-18 .color-img{
  width: 70px;
  height: 70px;
  padding: 0;
  margin: 0;
}
.asg-18 .score-icon{
  width:35px;
  height: 35px;
  
}
.asg-18 .score-header{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}