.main.asg-37 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    font-family: Arial, sans-serif;
    color: white;
}

.asg-37 .puzzle {
    background-color: #dddddd3f;
    padding: 30px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.asg-37 .puzzle-img {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 20px;
    left: 40px;
    border: 2px solid #ffffff7d;
    padding: 5px;
    border-radius: 10px;
}

.asg-37 .puzzle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.asg-37 .puzzle-grid {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(55, 55, 55, 0.299);
    background-color: #0f2027;
    margin-top: 20px;
    user-select: none;
}

.asg-37 .puzzle-tile {
    position: absolute;
    border: 1px solid #333;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

.asg-37 .puzzle-tile:hover {
    transform: scale(1.03);
}

.asg-37 .msg {
    margin-top: 20px;
    padding: 12px 20px;
    background: #49a6d5a0;
    color: rgb(17, 17, 17);
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    animation: pop 0.4s ease;
}