.main.asg-39 {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1e1e2f, #2b2b40);
  user-select: none;
  gap: 10px;
}

.asg-39 .grid {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
}

.asg-39 .row {
  display: flex;
  gap: 6px;
}

.asg-39 .cell {
  width: 70px;
  height: 70px;
  border-radius: 8px;
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: white;
}
.asg-39 .cell[data-dragging="true"] {
  background-color: #3b82f6;
}

.asg-39 .cell[data-win="true"] {
  background-color: #10b981;
}

.asg-39 .cell[data-error="true"] {
  background-color: #ef4444;
}


.asg-39 .button {
  padding: 10px 20px;
  font-weight: bold;
  background-color: rgb(185, 198, 255);
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

