.main {
    min-height: 100vh;     
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;  
    background: linear-gradient(90deg, #284B6Cff, rgb(98, 123, 132));
    color: white;           
    padding: 20px;          
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size:x-large;
    color:rgb(21, 30, 45)
}