.main.asg-24 {
  min-height: 100vh;
  background: linear-gradient(90deg, #122c44, #5a7d91);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  font-family: Arial, sans-serif;
}

.asg-24 .crop-icon {
  width: 180px;
  height: 180px;
  margin-bottom: 15px;
}

.asg-24 .upload-btn {
  background-color: #ffffff90;
  color: #28313b;
  padding: 10px 25px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.asg-24 .upload-btn:hover {
  background-color: #485563;
  color: white;
}

.asg-24 .upload-btn input {
  display: none;
}

.asg-24 .filter-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.asg-24 .canvas {
  border: 2px solid white;
  border-radius: 12px;
  max-width: 600px;
}

.asg-24 .img-area {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  
}

.asg-24 .controls{
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.asg-24 button{
    width: 200px;
}
.asg-24  .canvas-section{
    background: rgba(255, 255, 255, 0.15);
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 12px;
  margin-top: 20px;
}

.asg-24 input[type="range"] {
  width: 100%;
}

.asg-24 .crop-btn, .asg-24 .download-btn {
  background-color: #ffffff90;
  color: #28313b;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.asg-24 .crop-btn:hover, .asg-24 .download-btn:hover {
  background-color: #485563;
  color: white;
}

.asg-24 .canvas {
    display: block;
  border: 2px solid #555;
  cursor: crosshair;
}

.asg-24 .crop-area {
  position: absolute;
  border: 2px dashed red;
  background: rgba(255, 0, 0, 0.2);
  pointer-events: none;
}

